apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-matomo
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  volumeName: pv-matomo
  storageClassName: ""
