name: Build and publish custom Matomo image

on:
  push:
    branches:
      - master

jobs:
  publish-image:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Authenticate with Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build custom Matomo image
      run: |
        docker build \
          -t ${{ secrets.DOCKERHUB_USERNAME }}/matomo-custom:latest \
          .ejercicio-2/matomo

    - name: Push image to Docker Hub
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/matomo-custom:latest
